* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
}

.block {
  border: 2px solid black;
  margin: 20px;
  flex-direction: row;
  width: 100%;
}

#meal-details-submit, #meal-details-cancel {
  display: inline-flex;
  width: 50%;
  border-radius: 5px;
}

#meal-details-submit {
  background-color: green;
}

#meal-details-cancel {
  background-color: red;
}

#meal-form {
  height: 100%;
}